.header__head {
    height: 75px;
    background: #262626;
    color: white
}
.header__head > h2 > .Link {
    color: white;
}
.header__head, .header__head > nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__head > h2, .header__head > nav > ul > li {
    text-align: center;
    padding: 25px
}

.Link {
    color: white;
}